# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files
data/raw/
data/processed/

# Results and outputs
results/
*.csv
*.png

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# PyCharm / VSCode settings
.idea/
.vscode/